@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');
body {
  font-family: 'Bungee Shade';
  background-image: url("/assets/pink_world.jpg");
  background-size: cover;
  background-position: 0%;
}

h1{
  text-align: center;
  margin: -30px 0 -30px 0px;
  font-size: 60px;
}
#title {
  color: #FF6D28;
}
#emojis {
  background-color: #FF6D28;
  height: 120px;
}

button{
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background: #FF6D28;
  border: 2px solid #FCE700;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 16px;
}
button:active{
  transform: scale(0.90);
}
#watter{
  background-color: #00F5FF;
}
#ground{
  background-color: greenyellow;
}
#petButton {
  margin-top: 30px;
}
#restartButton {
  margin-top: 20px;
}

#pet-selection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #00F5FF;
  padding: 10px;
}

.cards {
  display: flex;
  gap: 10px;
  align-items: center;
}
.mokepon-card {
  width: 180px;
  height: 220px;
  background: #FF6D28;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #00F5FF;
}
.mokepon-card img {
  width: 150px;
}
.mokepon-card h2{
  margin: -5px 0px 0px 0px;
  font-size: 24px;
}
.mokepon-card p{
  margin: 0%;
  font-size: 14px;
}

input{
  display: none;
}
input:checked + label{
  background-color: #f7743788;
  border: solid 3px #00F5FF;
}

.result-card {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-rows: 1fr 3fr 1fr 5fr;
  width: 180px;
  height: 350px;
  font-family: 'Press Start 2P', cursive;
  background: #FF6D28;
  padding: 5px;
  border-radius: 10px;
  color: #00F5FF;
}
.result-card img {
  width: 150px;
}
#attack-selection{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #00F5FF;
}
#attack-buttons{
  display: flex;
  gap: 10px;
}
#petsFight{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
#petsFight h2{
  margin: 0px;
}

.result-restart{
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}
.result-restart h2,p{
  text-align: center;
  margin: 0px;
}

@media (max-width: 500px){
  .cards{
    flex-direction: column;
  }
  #attack-buttons{
    flex-direction: column;
  }
  h1{
    font-size: 40px;
  }
  #emojis{
    height: 100px;
  }
}